{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitter. Its what's happening</title>
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="{% static 'style/main.css' %}">
</head>

<body>
 	<div class="topbar">

 	</div>

 	<!-- This is the sign up box at the center -->
 	<div class="centerbox">
 		<h2>Join twitter today.</h2>
 		<input type="text" name="Fullname" placeholder="Full name">
 		<input type="text" name="email" placeholder="phone or email">
 		<input type="password" name="password" placeholder="Enter password">
 		<input type="checkbox" name="terms" class="checkbox">
 		<label> Tailor twitter based on my recent bla bla </label>
 		<button type="submit">Submit</button>
 	</div>
</body>
</html>